<header>
    <nav>
        
        <a class="boton_logo" href="./index.html" class="logo">
            {% load static %}
            <img src="{% static 'img/logo.jpg' %}" alt="My logo">
            <!-- <img src="./assets/media/img/logo.jpg" alt="logo"> -->
        
        
        
        </a>
        
        <div id="nav" class="div-nav">
            <ul class="lista-paginas">
                <div></div>
                <li><a class="enlace" href="./index.html">Home</a></li>
                <li><a class="enlace" href="./assets/pages/recetas.html">Recetas</a></li>
                <li><a class="enlace" href="./assets/pages/costeo.html">Costeo</a></li>
                <li><a class="enlace" href="./assets/pages/contacto.html">Contacto</a></li>
            </ul>
        </div>

        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </nav>
</header>

{% block content %}
{% endblock %}

<footer> 
    <a href="https://www.instagram.com/"><img src="./assets/media/img/logo-instagram2.jpg" alt="logo de instagram" height="40px" width="40px"></a>
    <a href="https://www.facebook.com/"><img src="./assets/media/img/logo-facebook.png" alt="logo de facebook" height="40px" width="40px"></a>
    <a href="https://www.youtube.com/@barmaninred"><img src="./assets/media/img/youtube-logo.png" alt="logo de youtube" height="40px" width="40px"></a>
</footer>