<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>copaXcopa</title>
</head>
<body>

    <!-- HEADER -->


    <header>
        <nav>
            <a class="boton_logo" href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.jpg' %}" alt="logo"></a>
            
            <div id="nav" class="div-nav">
                <ul class="lista-paginas">
                    <div></div>
                    <li><a class="enlace" href="{% url 'index' %}">Home</a></li>
                    <li><a class="enlace" href="{% url 'recetas' %}">Recetas</a></li>
                    <li><a class="enlace" href="{% url 'costeo' %}">Costeo</a></li>
                    <li><a class="enlace" href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </div>

            <button id="button-menu" class="button-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
    
        </nav>
    </header> 

    <!-- MAIN -->

    <main class="main_index">
            <!-- Enlace a página de recetas -->
            <div class="tarjeta-main tarjeta-main-1">
                <h2>Conoce nuestro listado de <br> tragos ideales para preparar en casa</h2>
                <p>Te dejamos estas entretenidas recetas para que pruebes sólo/a o con tus amigos/as</p>
                <a href="{% url 'recetas' %}" class="boton-tarjeta">Recetas</a>
            </div>  

            <!-- Enlace a página de cursos -->
            <div class="tarjeta-main">
                <h2>Aprende a preparar los mejores tragos <br> con tu bartender de confianza</h2>
                <p>¿Estás con ganas de ingresar al mundo laboral? Estate preparado/a! No dudes en contactarte para saber más sobre los cursos y seminarios que dictamos</p>
                <a href=".{% url 'contacto' %}" class="boton-tarjeta">Contacto</a>
            </div>  
        
    </main>

    <!-- FOOTER -->


    <footer> 
        <a href="https://www.instagram.com/"><img src="{% static 'img/logo-instagram2.jpg' %}" alt="logo de instagram" height="40px" width="40px"></a>
        <a href="https://www.facebook.com/"><img src="{% static 'img/logo-facebook.png' %}" alt="logo de facebook" height="40px" width="40px"></a>
        <a href="https://www.youtube.com/@barmaninred"><img src="{% static 'img/youtube-logo.png' %}" alt="logo de youtube" height="40px" width="40px"></a>
    </footer>
    
    <script src="{% static 'js/app.js' %}"></script>


    
</body>

</html>